body{
  background-color: currentColor;

  
}

.lemon{
	font-family: 'Oswald', sans-serif;
	color:white;
}
.logo{
	margin:-5px 10px 5px 5px;

}
.letra-negra{
	color:black;
}
.letra-size{
	font-size: :16pt !important;

}
.no-visible{
	display: none;
}
.correcto{
	border: 2px green solid;
}
.incorrecto{
	border:2px red solid;
}
