body{
  background-color: currentColor;

  
}

.lemon{
	font-family: 'Oswald', sans-serif;
	color:white;
}
.logo{
	margin:-5px 10px 5px 5px;

}
.letra-negra{
	color:black;
}
.letra-formulario{
	font:15px;
}
